*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: black;
    color: white;
    line-height: 1.6;
}

.wrapper{
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(255,64,50,0.8),
        rgba(71,17,116,0.9)
    ),
    url('../assets/background.jpg') no-repeat center center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    width: 100px;
}